*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
EmptyProject/EmptyProject/bin/
EmptyProject/bin/
EmptyProject/EmptyProject/obj/
EmptyProject/obj/
EmptyProject/EmptyProjectContent/obj/
!EmptyProject/x64
!EmptyProject/x86
!EmptyProject/Libraries
