*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
ProjectWithCodegen/ProjectWithCodegen/bin/
ProjectWithCodegen/bin/
ProjectWithCodegen/ProjectWithCodegen/obj/
ProjectWithCodegen/obj/
ProjectWithCodegen/ProjectWithCodegenContent/obj/
!ProjectWithCodegen/x64
!ProjectWithCodegen/x86
!ProjectWithCodegen/Libraries
